# Node.js memory configuration to prevent heap out of memory errors
node-options=--max-old-space-size=8192

auto-install-peers = true
strict-peer-dependencies = false
prefer-workspace-packages = true
link-workspace-packages = deep
hoist = true
shamefully-hoist = true